@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-clr: #f5f5f7;
  --secondary-clr: #ffffff;
  --primary-clr: #89cff0;
  --main-ctnr-clr: #e1e1e1;
  --container-bg-clr: 	#ADD8E6;
  --btn-hovered-clr: 	#6497b1;
  --font-clr: #1d1d1f;
  --heading-font: 1.7rem;
  --subheading-font: 1.5rem;
  --body-font: 1.125rem;
  --font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background: var(--bg-clr);
  font-family: var(--font-family);
  overflow: hidden;

  header {
    display: flex;
    place-items: center;
    gap: 20px;
    width: 100vw;
    padding: 20px;

    button {
      cursor: pointer;
      border: none;
      background: none;
    }

    .menu-toggle > img {
        width: 20px;
        height: 20px;
    }

    .logo {
      width: 40px;
      height: 40px;
    }

    .title {
       font-size: var(--heading-font);
       font-weight: 500;
    }

    .right-side {
      margin-left: auto;
      display: flex;
      place-items: center;
      gap: 30px;

      .author > img {
        width: 28px;
        height: 28px;
      }

      .profile-icon {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 3px solid var(--primary-clr);
        cursor: pointer;  
      }
    }
  }

  .wrapper {
    display: flex;
    width: 100%;
    height: 90%;
   
    .sidebar {
      display: flex;
      flex-direction: column;
      min-width: 200px;
      padding: 20px 0px 20px 10px;
      transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
      transform: translateX(0);
      visibility: visible;
      position: relative;

      &.hidden {
        transform: translateX(-100%);
        visibility: none;
        position: absolute;
      }
      
      img {
        width: 20px;
        height: 20px;
      }

      button {
        border: none;
        border-radius: 16px;
        background: none;
        cursor: pointer;
        display: flex;
        place-items: center;
        gap: 10px;
      }

      #createBtn {
        padding: 16px;
        margin-bottom: 50px;
        background: var(--primary-clr);
        width: 7.5rem;

        & img {
          width: 30px;
          height: 30px;
        }

        &:hover {
          background: var(--btn-hovered-clr);
        }
      }

      #allTasksBtn, #starredBtn {
        width: 90%;
        height: 40px;
        padding: 10px;

        &:hover {
          background: var(--primary-clr);
        }
      }

      .list {
        display: flex;
        justify-content: space-between;
        padding-left: 12px;
        padding-right: 10px;
        margin-top: 20px;

        & h3 {
          font-size: var(--body-font);
          font-weight: 400;
        }
      }

      #createNewListBtn {
        margin-top: 20px;
        padding-left: 12px;
      }
    }

    .task-container {
      border-radius: 16px;
      overflow-x: auto;
      overflow-y: hidden; 
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-flow: column;
      grid-auto-columns: 300px;
      width: 100%;

      &:has(.list-container:only-child) {
        .list-container {
          width: 40%;
          margin-inline: auto;
        }
      }

      .list-container {
        height: max-content;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        background: var(--container-bg-clr);
        padding-bottom: 20px;
        overflow-y: clip;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 16px;
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.58);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.58);
        -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.58);

        button {
          border: none;
          background: none;
          cursor: pointer;
        }

        img {
          width: 20px;
          height: 20px;
        }

        .list-heading {
          display: flex;
          flex-direction: column;

          .list-name {
            display: flex;
            justify-content: space-between;
            place-items: center;
            padding: 10px 20px 0px 20px;

            #listOptions {
              border-radius: 16px;
              padding: 5px;

              &:hover {
                background: var(--primary-clr);
              }
            } 
          }

          #addTaskBtn {
            display: flex;
            gap: 15px;
            align-items: center;
            padding: 10px;
            margin: 0px 7px 0px 7px;
            border-radius: 16px;

            &:hover {
              background: var(--primary-clr)
            }
          }
        }

        .list-task {
          overflow: auto;
          padding: 10px 20px 10px 20px;

          #taskDeadline {
            font-size: 0.8rem;
          }

          .task-details {
            display: flex;
            gap: 15px;
            margin-top: 5px;
            padding: 5px;

            &:hover {
              background: var(--btn-hovered-clr);
            }

            button {
              font-size: 0.8rem;

              img {
                width: 15px;
                height: 15px;
              }
            }

            #checkBtn {
              align-self: flex-start;
              padding-top: 3px;
            }

            p {
              font-size: 0.9rem;
            }
          }
        }

        #completedBtn {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;
          padding-left: 20px;
          margin-top: auto;

          img {
            width: 10px;
            height: 10px;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
