@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-clr: #f5f5f7;
  --secondary-clr: #ffffff;
  --primary-clr: #89cff0;
  --font-clr: #1d1d1f;
  --heading-font: 2rem;
  --subheading-font: 1.5rem;
  --body-font: 1.125rem;
  --font-family: "Inter", sans-serif;
}

body, #root {
  height: 100vh;
  background: var(--bg-clr);
  font-family: var(--font-family);

  header {
    display: flex;
    place-items: center;
    gap: 20px;
    width: 100vw;
    padding: 20px;
    outline: 2px solid red;

    .header_hamburgerBtn {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .header_logo {
      width: 40px;
      height: 40px;
    }

    /* Need improvement */
    .header_logoName {
       font-size: var(--heading-font);
    }

    .header_pfp {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: 3px solid var(--primary-clr);
      margin-left: auto;
      cursor: pointer;  
    }
  }  
}
