@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-clr: #f5f5f7;
  --secondary-clr: #ffffff;
  --primary-clr: #89cff0;
  --font-clr: #1d1d1f;
  --heading-font: 1.7rem;
  --subheading-font: 1.5rem;
  --body-font: 1.125rem;
  --font-family: "Inter", sans-serif;
}

body, 
#root {
  height: 100vh;
  background: var(--bg-clr);
  font-family: var(--font-family);

  header {
    display: flex;
    place-items: center;
    gap: 20px;
    width: 100vw;
    padding: 20px;
    outline: 2px solid var(--primary-clr);

    .menu-toggle {
      cursor: pointer;
      border: none;
      background: none;

      & img {
        width: 20px;
        height: 20px;
      }
    }

    .logo {
      width: 40px;
      height: 40px;
    }

    .title {
       font-size: var(--heading-font);
       font-weight: 500;
    }

    .profile-icon {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: 3px solid var(--primary-clr);
      margin-left: auto;
      cursor: pointer;  
    }
  }

  .wrapper {
    display: flex;

    .sidebar {
      display: flex;
      flex-direction: column;
      width: 200px;
      padding: 20px 0px 20px 10px;

      img {
        width: 20px;
        height: 20px;
      }

      button {
        border: none;
        border-radius: 16px;
        background: none;
        cursor: pointer;
        display: flex;
        place-items: center;
        gap: 10px;
      }

      #createBtn {
        padding: 16px;
        margin-bottom: 50px;
        background: var(--primary-clr);
        width: 60%;

        & img {
          width: 30px;
          height: 30px;
        }
      }

      #allTasksBtn, #starredBtn {
        width: 90%;
        height: 40px;
        padding: 10px;

        &:hover {
          background: var(--primary-clr);
        }
      }

      .list {
        display: flex;
        justify-content: space-between;
        padding-left: 12px;
        padding-right: 10px;
        margin-top: 20px;

        & h3 {
          font-size: var(--body-font);
          font-weight: 400;
        }
      }

      #createNewListBtn {
        margin-top: 20px;
        padding-left: 12px;
      }
    }

    .task-container {
      display: grid;
      width: 80%;
    }
  }
}
